table {
	width: 600px;
	margin: 0 auto;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	font-size: 15px;
}
tr {
	border-top: 1px solid #eee;
}
tr:first-child {
	border: none;
}
th {
	padding: 5px 0;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
	color: #555;
}
th:nth-child(1), th:nth-child(4) {
	width: 60px;
}
th:nth-child(3) {
	width: 120px;
}
td {
	padding: 8px 0;
}
td:nth-child(1), td:nth-child(3), td:nth-child(4) {
	text-align: center;
}
td:first-child i {
	font-size: 16px;
}
td a:hover {
	color: darkcyan;
	text-decoration: underline;
}