.container {
	width: 100%;
	margin: 0 auto;
}
.row {
	clear: both;
}
.grid_1, .grid_2, .grid_3, .grid_4,
.grid_5, .grid_6, .grid_7, .grid_8,
.grid_9, .grid_10, .grid_11, .grid_12 {
	float: left;
	border: 1px solid cadetblue;
	box-sizing: border-box;
}
.grid_1 {
	width: 8.33%;
}
.grid_2 {
	width: 16.66%;
}
.grid_3 {
	width: 25%;
}
.grid_4 {
	width: 33.33%;
}
.grid_5 {
	width: 41.66%;
}
.grid_6 {
	width: 50%;
}
.grid_7 {
	width: 58.33%;
}
.grid_8 {
	width: 66.66%;
}
.grid_9 {
	width: 75%;
}
.grid_10 {
	width: 83.33%;
}
.grid_11 {
	width: 91.66%;
}
.grid_12 {
	width: 100%;
}