*.metadata
*.settings
*.classpath
*.project
*.class
*.jar
java/*/bin
web/*/bin/
web/Servers/
web/*/build/
java/*.txt
framework/*.txt
framework/*/bin/
framework/*/Servers/
framework/*/target/
framework3/*/build/
framework3/*.txt
framework3/*/bin/
framework3/Servers/
framework3/*/build/
framework3/*/target/
java/*.txt
web/*.txt
db/
project2/
