@CHARSET "UTF-8";

#menu ul {
	display: flex;
	width: 400px;
	margin: 0 auto;
}
#menu li {
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
#menu a {
	display: block;
}
#menu a:hover {
	font-weight: 600;
}
#footer {
	border-top: 1px solid #ddd;
	margin-top: 50px;
	padding: 10px 0;
	text-align: center;
	font-size: 15px;
}

.carousel {
	position: relative;
	width: 528px;
	margin: 0 auto;
	overflow: hidden;
	background: blanchedalmond;
}
.carousel ul {
	width: 2112px;
}
.carousel ul:after {
	content: "";
	display: table;
	clear: both;
}
.carousel li {
	float: left;
}
.carousel img {
	width: 176px;
}
.carousel i {
	position: absolute;
	top: 50%;
	font-size: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 10;
	color: olivedrab;
}
.carousel i.xi-angle-right {
	right: 0;
}

h2 {
	margin: 15px 0 30px;
	text-align: center;
}

.btn_box {
	margin-top: 15px;
	overflow: hidden;
}
.btn_box a {
	float: right;
	line-height: 30px;
	text-align: center;
	background: 
}
.btn_box a, .btns_box button {
	width: 60px;
	height: 30px;
	background: #ccc;
	border: 1px solid #aaa;
	font-size: 15px;
	color: #eee;	
}
.btns_box {
	display: table;
	margin: 15px auto 0;
	overflow: hidden;
}
.btns_box button {
	float: left;
	margin-left: 10px;
}
.btns_box button:first-child {
	margin: 0;
}


.board table {
	width: 100%;
}
.board th:nth-child(1), .board th:nth-child(3), .board th:nth-child(4) {
	width: 10%;
}
.board th {
	height: 18px;
	border-bottom: 1px solid #aaa;
}
.board td {
	height: 30px;
	border-bottom: 1px solid #ddd;
}


.write form {
	width: 400px;
	margin: 0 auto; 
}
.write div {
	overflow: hidden;
	margin-top: 15px;
}
.write div:first-child {
	margin: 0;
}
.write label, .write input {
	float: left;
	height: 30px;
}
.write label {
	width: 100px;
	line-height: 30px;
}
.write input {
	width: 300px;
	box-sizing: border-box;
}
.write textarea {
	width: 100%;
	height: 150px;
	padding: 5px;
	box-sizing: border-box;
	resize: none;
}
.err {
	text-align: center;
	font-weight: 600;
	font-size: 15px;
	color: #ff0000;
}


.detail > div {
	overflow: hidden;
}
.detail p {
	display: flex;
	float: left;
	width: 33%;
}
.detail p span {
	display: block;
}
.detail p span:first-child {
	width: 80px;
}
