h1 {
	width: 400px;
	text-align: right;
	margin: 30px auto 20px;
	font-weight: 600;
	font-size: 18px;
}

th, td {
	padding: 8px 0;
	text-align: center;
	font-size: 15px;
}
th {
	border-bottom: 1px solid #555;
}
td {
	border-bottom: 1px solid #ccc;
}
table {
	width: 400px;
	margin: 0 auto;
}