<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- <bean id="hello" class="com.inf.beans.HelloWorldEn"></bean> -->
	<!-- HelloWorldEn클래스의 id가 hello인 객체를 가질 수 있다 -->
	
	<bean id="hello" class="com.inf.beans.HelloWorldKo"></bean>
</beans>