div, form {
	display: table;
	margin: 0 auto;
	border: 1px solid darkslategrey;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 30px;
}
form {
	margin-top: 15px;
}
.line {
	display: flex;
	margin: 0 auto;
	overflow: hidden;
}
input[type=text] {
	width: 180px;
	height: 30px;
	box-sizing: border-box;
	padding: 0 10px;
	border: 1px solid darkslategrey;
}
input[type=button], button {
	border: none;
	background: none;
	width: 50px;
	height: 30px;
	background: darkslategrey;
	color: #fff;
}